<div><%=name%><span class="delete" style="margin-left: 20px; color: red;">delete</span><span class="edit"
                                                                                             style="margin-left: 20px; color: red;">edit</span>
</div>
<div><%=age%></div>
<div><%=mark%></div>
<div class="updateName" style="display: none"><input type="text" class="updateF"><span class="update"
                                                                                       style="margin-left: 20px; color: red;">update</span>
</div>
<br/>